@use '../../variables';

.inputField {
    margin-bottom: 0.5em;
    gap: 0.2em;
}

.input {
    padding: 0.3em;
    border: 1px solid var(--aside-bg);
    border-radius: 5px;
    background: var(--aside-bg);
    color: var(--white);
}
