:root {
  --main-bg: hsl(0, 0%, 10%);
  --aside-bg: hsl(0, 0%, 15%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --main: hsl(44, 95%, 55%);
  --secondary: hsl(155, 100%, 40%);
  --btn-bg: hsl(155, 100%, 30%);
  --btn-bg-hover: hsl(155, 100%, 40%);
  --btn-bg-active: hsl(155, 100%, 50%);
}

.aside {
  padding: 1rem;
  background-color: var(--aside-bg);
}
.aside__icon {
  fill: var(--white);
}
.aside__title {
  color: var(--btn-bg-active);
}

.menu {
  position: sticky;
  top: 0;
  text-align: center;
}

.generator {
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
}
.generator__title {
  padding: 0.5em 0;
}

.section-title {
  font-size: 1.5rem;
  color: var(--secondary);
}

.field-wrapper > * {
  flex: 1;
}

.preview {
  position: sticky;
  top: 10px;
  min-width: 210mm;
  max-width: 210mm;
  min-height: 297mm;
  max-height: 297mm;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20% 1fr;
  color: var(--black);
}
.preview__personal {
  padding: 1rem;
  background: var(--aside-bg);
  font-size: 0.875rem;
  color: var(--white);
}
.preview__details {
  padding: 0 2rem;
}
.preview__summary > .text {
  padding-left: 0.3em;
  border-left: 4px solid var(--aside-bg);
  font-style: italic;
}

.header {
  margin: 1rem 0 1rem 2rem;
  align-self: center;
}
.header__name {
  margin-right: 2rem;
  font-size: 3rem;
  line-height: 1;
  overflow-wrap: anywhere;
}
.header__role {
  position: relative;
  margin-top: 0.2em;
  padding: 0.5rem 1rem;
  letter-spacing: 1.3px;
  color: var(--white);
  font-size: 1.5rem;
  background: var(--aside-bg);
}
.header__role::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  right: 20px;
  top: 0;
  background: var(--white);
}

.body {
  display: grid;
  grid-template-columns: 30% 1fr;
  background: var(--white);
}

.head {
  display: grid;
  grid-template-columns: 30% 1fr;
  background: var(--white);
}

.name {
  font-size: 1.3rem;
  font-weight: 500;
}

.city {
  opacity: 0.6;
}

.role,
.degree {
  font-size: 1.1rem;
}

.title {
  font-size: 1.5rem;
  color: var(--main);
  border-bottom: 2px solid var(--main);
}

.text {
  display: flex;
  overflow-wrap: anywhere;
}

.btn {
  border: transparent;
  border-radius: 10px;
  padding: 0.5em 1em;
  background: var(--btn-bg);
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn:hover {
  background: var(--btn-bg-hover);
}
.btn--active {
  background: var(--btn-bg-active);
}

.inputField {
  margin-bottom: 0.5em;
  gap: 0.2em;
}

.input {
  border: 1px solid var(--aside-bg);
  border-radius: 5px;
  padding: 0.3em;
  background: var(--aside-bg);
  color: var(--white);
}

.l-gap-1 {
  gap: 1rem;
}

.l-gap-05 {
  gap: 0.5rem;
}

.l-flex {
  display: flex;
}

.l-flexColumn {
  display: flex;
  flex-direction: column;
}

.l-ai-c {
  align-items: center;
}

.icon--preview {
  margin-right: 0.5em;
}

.thin {
  font-weight: 300;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  font-family: "Work Sans", sans-serif;
  background: var(--main-bg);
  color: var(--white);
}

.App {
  display: grid;
  min-height: 100%;
  grid-template-columns: auto 2fr 2fr;
  gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
