@use '../variables';

.preview {
    position: sticky;
    top: 10px;
    min-width: 210mm;
    max-width: 210mm;
    min-height: 297mm;
    max-height: 297mm;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 1fr;
    color: var(--black);
    &__personal {
        padding: 1rem;
        background: var(--aside-bg);
        font-size: 0.875rem;
        color: var(--white);
    }
    &__details {
        padding: 0 2rem;
    }
    &__summary > .text {
        padding-left: 0.3em;
        border-left: 4px solid var(--aside-bg);
        font-style: italic;
    }
}

.header {
    margin: 1rem 0 1rem 2rem;
    align-self: center;
    &__name {
        margin-right: 2rem;
        font-size: 3rem;
        line-height: 1;
        overflow-wrap: anywhere;
    }
    &__role {
        position: relative;
        margin-top: 0.2em;
        padding: 0.5rem 1rem;
        letter-spacing: 1.3px;
        color: var(--white);
        font-size: 1.5rem;
        background: var(--aside-bg);
        &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 100%;
            right: 20px;
            top: 0;
            background: var(--white);
        }
    }
}

.body {
    @include variables.CVLayout;
    background: var(--white);
}

.head {
    @include variables.CVLayout;
    background: var(--white);
}

.name {
    font-size: 1.3rem;
    font-weight: 500;
}

.city {
    opacity: 0.6;
}

.role,
.degree {
    font-size: 1.1rem;
}

.title {
    font-size: 1.5rem;
    color: var(--main);
    border-bottom: 2px solid var(--main);
}
.text {
    display: flex;
    align-items: flex-start;
    line-height: 1.05;
    overflow-wrap: anywhere;
}
