:root {
    // Backgrounds
    --main-bg: hsl(0, 0%, 10%);
    --aside-bg: hsl(0, 0%, 15%);

    // Font
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --main: hsl(44, 95%, 55%);
    --secondary: hsl(155, 100%, 40%);
    // Buttons
    --btn-bg: hsl(155, 100%, 30%);
    --btn-bg-hover: hsl(155, 100%, 40%);
    --btn-bg-active: hsl(155, 100%, 50%);
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin CVLayout {
    display: grid;
    grid-template-columns: 30% 1fr;
}
